<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <appSettings>
    <add key="tfsUrl" value="" />
    <add key="tfsUsername" value="" />
    <add key="tfsKey" value="" />
    <add key="categories" value="UIFramework, Framework, Infrastructure, WebApp, PSSolution" />
    <add key="workItemStateFilter" value="Pending Release, Ready for test,  Done" />
    <add key="workItemTypeFilter" value="Code Review Request, Task" />
  </appSettings>
</configuration>