<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <system.net>
    <defaultProxy enabled="true" useDefaultCredentials="true"></defaultProxy>
  </system.net>

  <appSettings>
    <add key="url" value="" />
    <add key="collection" value=""/>
    <add key="project" value=""/>
    <add key="branch" value=""/>
    <add key="changesetFrom" value=""/>
    <add key="changesetTo" value=""/>
  </appSettings>
</configuration>